@import url("tailwindcss");

:root {
  --black: #3b434e;
  --white: white;
  --grey-light: #ebebeb;
  --primary: #7653fc;
  --primary-hover: #552fec;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f5f6f8;
  color: var(--black);
  font-family: "Noto Sans", sans-serif;
}
