.tag {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}

.small {
  font-size: 12px;
  line-height: 12px;
  padding: 5px 10px;
}

.medium {
  font-size: 14px;
  line-height: 14px;
  padding: 5px 10px;
}

.ghost {
  background: none;
  border: 1px solid var(--grey-light);
  color: var(--black);
}

.red {
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
}

.grey {
  background-color: #b3c0d9;
  color: var(--black);
  font-weight: bold;
}

.green {
  background-color: var(--green);
  color: var(--white);
  font-weight: bold;
}

.primary {
  border: 1px solid var(--primary);
  color: var(--primary);
  font-weight: bold;
}
